/* Resets */
@import url('https://fonts.googleapis.com/css?family=Exo+2');

a {
    text-decoration: none;
}

/* Menu */
.menu {
  display: flex;
  justify-content: space-around;
  background: #224175;
  padding: 1em;
  margin: -0.7em;
  height: 1.5em;
}

.menu li {
  list-style: none;
  font-size: 1.5em;
  font-family: 'Exo 2', sans-serif;
}

.menu a {
  color: white;
}

.menu img {
  width: 30px;
  height: 30px;
}

.menu input {
  height: 1.5em;
}

.fa-user {
  margin-top: -5px;
  font-size: 1.5em;
}
